/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.site-branding {
	align-self: flex-start;
	position: absolute;
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
		flex-direction: column; /* mobile */
		font-size: 1.1rem;
		justify-content: space-around;
		padding: 20px 0;
		height: 78px;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* Hamberger Menu Slider */

/* Configuration Parameters */
$lineWidth: 5px;
$lineLength: 25px;
$baseMargin: 8px;
$animationDuration: .2s;
$checkedMenuWidth: 100%;

html {
  background: #CCC;
}

html,body {
  margin: 0; 
  padding: 0; 
  height: 100%
}

#hamburger {
  display: none;
}

.menu {
  display: block;
  background-color: red;
  width: 0px;
  height: 0;
  -webkit-transition-duration: $animationDuration;
  -moz-transition-duration: $animationDuration;
  -ms-transition-duration: $animationDuration;
  -o-transition-duration: $animationDuration;
  transition-duration: $animationDuration;
  -webkit-transition-delay: $animationDuration;
  -moz-transition-delay: $animationDuration;
  -ms-transition-delay: $animationDuration;
  -o-transition-delay: $animationDuration;
  transition-delay: $animationDuration;
}

.menuicon {
  position: absolute;
  z-index: 1000;
  top: 28px;
  right: 38px;
  display: block;
  cursor: pointer;
  height: $baseMargin*2 + $lineWidth;
  width: $lineLength;
  span {
    display: block;
    top: $baseMargin;
    width: $lineLength;
    height: $lineWidth;
    background-color: #000;
    position: relative;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -ms-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0;  
    -webkit-transition-delay: $animationDuration;
    -moz-transition-delay: $animationDuration;
    -ms-transition-delay: $animationDuration;
    -o-transition-delay: $animationDuration;
    transition-delay: $animationDuration;
    &::after, &::before {
      display: block;
      content: '';
      position: absolute;
      width: $lineLength;
      height: $lineWidth;
      background-color: #000;
      -webkit-transition-property: margin, -webkit-transform;
      -webkit-transition-duration: $animationDuration;
      -moz-transition-duration: $animationDuration;
      -ms-transition-duration: $animationDuration;
      -o-transition-duration: $animationDuration;
      transition-duration: $animationDuration;
      -webkit-transition-delay: $animationDuration, 0;
      -moz-transition-delay: $animationDuration, 0;
      -ms-transition-delay: $animationDuration, 0;
      -o-transition-delay: $animationDuration, 0;
      transition-delay: $animationDuration, 0;
    }
    &::before {
      margin-top: -$baseMargin;
    }
    &::after {
      margin-top: $baseMargin;
    }
  }
}

#hamburger:checked ~ nav div ul.menu {
	background-color: green;
	// position: fixed;
	top: 60px;
	width: 100%;
	height: 100vh;
}

li {
  overflow: hidden;
}

#hamburger:checked ~ .menuicon {
  span {
    background-color: rgba(0,0,0,0);
    &::before, &::after {
      margin-top: 0px;
      -webkit-transition-delay: 0, $animationDuration;
      -moz-transition-delay: 0, $animationDuration;
      -ms-transition-delay: 0, $animationDuration;
      -o-transition-delay: 0, $animationDuration;
      transition-delay: 0, $animationDuration;
    }
    &::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}
