.bx-wrapper {
	margin: 0;
}

/* Hero Banner Slider */

.hero-slider-container .bx-wrapper .bx-pager  {
	display: flex;
  justify-content: center;
	align-items: center;
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
	position: absolute;
	bottom: 40px;
  @include tablet {
    bottom: 60px;
  }
}

.hero-slider-container .bx-wrapper .bx-pager.bx-default-pager a {
	background: rgba(224, 224, 224, 0.6);
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	border-radius: 5px;
	border: 2px solid rgba(224, 224, 224, 0.6);
  @include tablet {
    width: 15px;
		height: 15px;
		border-radius: 10px;
  }
}

 .hero-slider-container .bx-wrapper .bx-pager.bx-default-pager a:hover,
 .hero-slider-container .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: transparent;
	border: 2px solid rgba(224, 224, 224, 0.6);
}

/* Review Section */

.reviews-container .bx-wrapper .bx-pager  {
	display: flex;
  justify-content: center;
	align-items: center;
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
	position: absolute;
	bottom: 1px;
}

.reviews-container .bx-wrapper .bx-default-pager a {
	background: rgba(194, 194, 194, 1);
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	border-radius: 5px;
}

 .reviews-container .bx-wrapper .bx-pager.bx-default-pager a:hover,
 .reviews-container .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: rgb(62, 62, 62);
}

// Theme

.bx-wrapper .bx-viewport {
	box-shadow: none !important;
	border:  0 !important;
	left: 0 !important;
}