.event-container {
  p,
  .header5-b {
    font-size: 16px;
    margin-top: 0;
    @include tablet {
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 35px;
    }
  }
  .event-info {
    position: relative;
    @extend .center-column;
    a {
      @extend .button;
      background: $color__oj;
      padding: 5px 30px;
      text-transform: uppercase;
      &:hover {
        background: $color__mainb;
        color: $color__mainw;
      }
    }
  }
  .event-time-container {
    @extend .center-column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      width: 880px;
    }
    p {
      margin: 0;
    }
    .calender-icon {
      background: url(../../assets/icons/calender-icon.png) no-repeat;
      background-size: 150px 138px;
      height: 150px;
      width: 150px;
      margin-bottom: 20px;
      @extend .center-column;
      @include tablet {
        margin-bottom: 0;
        transform: translate(38%, -13%);
      }
      .event-date {
        h5 {
          font-weight: 400;
        }
        h5:first-child {
          font-size: 22px;
          text-transform: uppercase;
          transform: translate(2%,-61%);
          text-align: center;
        }
        h5:last-child {
          font-size: 66px;
          transform: translate(-3%, -18%);
        }
      }
    }
    .event-when-where {
      display: flex;
      flex-direction: column;
      width: 250px;
      text-align: center;
      @include tablet {
        width: 630px;
        text-align: left;
      }
      p {
        margin: 0 auto 30px;
        width: 210px;
        @include tablet {
          font-size: 22px;
          margin: 0 0 5px;
          width: 480px;
        }
      }
      .bold {
        font-weight: bold;
      }
    }
  }
  .header2-a {
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1.8px;
    line-height: 0;
    margin-top: 40px;
    @include tablet {
      font-weight: 500;
      margin: 40px 0 0 0;
      font-size: 2.4rem;
      line-height: 2;
    }
  }
  .header3 {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    @include tablet {
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: 1.8px;
      margin: 0;
      transform: translate(3.5%, 71%);
    }
  }
  .header5-b {
    margin: 0;
    @include tablet {
      font-weight: 500;
    }
  }
  h2, h3 {
    text-align: center;
    font-size: 1.8rem;
    @include tablet {
      font-size: 2.8rem;
    }
    @include desktop {
      font-size: 3.5rem;
    }
  }
  .body {
    text-align: center;
    @include tablet {
      text-align: left;
    }
    p {
      width: 350px;
      @include tablet {
          width: 600px;
      }
      @include desktop {
          width: 800px;
      }
    }
  }
}
