.event-container {
  p {
    font-size: 14px;
  }
  margin-bottom: 35px;
  @include tablet {
    margin-bottom: 50px;
  }
  .event-info {
    @extend .center-column;
    a {
      @extend .button;
      background: $color__oj;
      padding: 5px 30px;
      text-transform: uppercase;
      &:hover {
        background: $color__mainb;
        color: $color__mainw;
      }
    }
  }
  .event-time-container {
    @extend .center-column;
    @include tablet {
      flex-direction: row;
    }
    p {
      margin: 0;
    }
    .calender-icon {
      background: url(../../assets/icons/calender-icon.png) no-repeat;
      background-size: 150px 138px;
      height: 150px;
      width: 150px;
      margin-bottom: 20px;
      // background-size: 125px 125px;
      // height: 125px;
      // width: 125px;
      // margin-bottom: 20px;
      @extend .center-column;
      @include tablet {
        margin-right: 40px;
      }
      .event-date {
        h5 {
          font-weight: 400;
        }
        h5:first-child {
          font-size: 22px;
          text-transform: uppercase;
          transform: translate(10%,-60%);
          // font-size: 1rem;
          // text-transform: uppercase;
          // transform: translate(15%,-35%);
        }
        h5:last-child {
          font-size: 66px;
          transform: translate(-1%, -18%);
          // font-size: 60px;
          // transform: translate(-1%, -14%);
        }
      }
    }
    .event-when-where {
      display: flex;
      flex-direction: column;
      width: 250px;
      text-align: center;
      p {
        // font-size: 14px;
        width: 210px;
        margin: 0 auto 30px;
      }
      @include tablet {
        width: 450px;
        text-align: left;
      }
      .bold {
        font-weight: bold;
      }
      p {
        // font-size: 16px;
        // width: 200px;
        // margin: 0 auto 20px;
        // margin-bottom: 20px;

        @include tablet {
          margin-bottom: 5px;
        }
      }
    }
  }
  .header2-a {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 0;
    margin-top: 40px;
    @include tablet {
      margin-bottom: 20px;
      font-size: 3.5rem;
    }
  }
  .header3 {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    @include tablet {
      margin: 0;
      font-size: 2rem;
    }
  }
  .header5-b {
    // font-size: 14px;
    margin: 0;
  }
  h2, h3 {
    text-align: center;
    font-size: 1.8rem;
    @include tablet {
      font-size: 2.8rem;
    }
    @include desktop {
      font-size: 3.5rem;
    }
  }
  .body {
    text-align: center;
    @include tablet {
      text-align: left;
    }
    p {
      width: 350px;
      @include tablet {
          width: 600px;
      }
      @include desktop {
          width: 800px;
      }
    }
  }
}
