// Connect With Us

.connect-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  @include tablet {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
}

.connect-wrapper {
  padding: 10px 0 100px;
  @extend .center-column;
  justify-content: space-between;
  margin: 0 40px;
  width: 320px;
}

.connect-btn,
.connect-btn:visited {
  border-radius: 4px;
  border: 0;
  color: $color__mainw;
  font-weight: 100;
  padding: 13px 60px;
  text-transform: uppercase;
  @include tablet {
    border-radius: 12px;
    padding: 6px 60px;
  }
  &:hover {
    background: $color__mainb;
  }
}

.twit-btn {
  background: $color__twitb;
}

.insta-btn {
  background: $color__insta-br;
}

.email-btn {
  margin-top: 10px;
  background: $color__trustb;
}
