
@-webkit-keyframes logo {
	0% {
		/* style */
		opacity: 0;
	}
	50% {}
	100% {
		/* style */
		opacity: 1;
	}
}
@-moz-keyframes logo {
	0% {
		/* style */
		opacity: 0;
	}
	50% {}
	100% {
		/* style */
		opacity: 1;
	}
}
@-ms-keyframes logo {
	0% {
		/* style */
		opacity: 0;
	}
	50% {}
	100% {
		/* style */
		opacity: 1;
	}
}
@-o-keyframes logo {
	0% {
		/* style */
		opacity: 0;
	}
	50% {}
	100% {
		/* style */
		opacity: 1;
	}
}
@keyframes logo {
	0% {
		/* style */
		opacity: 0;
	}
	50% {}
	100% {
		/* style */
		opacity: 1;
	}
}