/* content-area Delay Apprence */

@keyframes site-branding-width {
	0% {
		/* style */
		width: 100vw;
	}
	98% {
		width: 100vw;
	}
	100% {
		/* style */
		width: 80px;
	}
}


/* site-header Background Animation */

@-webkit-keyframes site-header-background {
	0% {
		/* style */
		background-color: $color__mainw;
		height: 100vh;
	}
	80% {
		background-color: $color__mainw;
		height: 100vh;
	}
	86% {
		/* style */
		background-color: $color__mainw;
		height: 80px;
	}
}
@-moz-keyframes site-header-background {
	0% {
		/* style */
		background-color: $color__mainw;
		height: 100vh;
	}
	80% {
		background-color: $color__mainw;
		height: 100vh;
	}
	86% {
		/* style */
		background-color: $color__mainw;
		height: 80px;
	}
}
@-ms-keyframes site-header-background {
	0% {
		/* style */
		background-color: $color__mainw;
		height: 100vh;
	}
	80% {
		background-color: $color__mainw;
		height: 100vh;
	}
	86% {
		/* style */
		background-color: $color__mainw;
		height: 80px;
	}
}
@-o-keyframes site-header-background {
	0% {
		/* style */
		background-color: $color__mainw;
		height: 100vh;
	}
	80% {
		background-color: $color__mainw;
		height: 100vh;
	}
	86% {
		/* style */
		background-color: $color__mainw;
		height: 80px;
	}
}
@keyframes site-header-background {
	0% {
		/* style */
		background-color: $color__mainw;
		height: 100vh;
	}
	80% {
		background-color: $color__mainw;
		height: 100vh;
	}
	86% {
		/* style */
		background-color: $color__mainw;
		height: 80px;
	}
}






/* Logo Animation */

@-webkit-keyframes logo {
	0% {
		/* style */
		background-size: 600px 600px;
		background-position: center center;
		height: 100vh;
		width: 100%;
		opacity: 0;
	}
	50% {
		background-size: 600px 600px;
		background-position: center center;
		height: 100vh;
		width: 100%;
		opacity: 1;
	}
	100% {
		/* style */
		background-size: 60px 60px;
		background-position: 20px 10px;
		height: 100vh;
		width: 100%;
	}
}
@-moz-keyframes logo {
	0% {
		/* style */
		background-size: 600px 600px;
		background-position: center center;
		opacity: 0;
		height: 100vh;
		width: 100%;
	}
	50% {
		background-size: 600px 600px;
		background-position: center center;
		opacity: 1;
		height: 100vh;
		width: 100%;
	}
	100% {
		/* style */
		background-size: 60px 60px;
		background-position: 20px 10px;
		height: 100vh;
		width: 100%;
	}
}
@-ms-keyframes logo {
	0% {
		/* style */
		background-size: 600px 600px;
		background-position: center center;
		opacity: 0;
		height: 100vh;
		width: 100%;
	}
	50% {
		background-size: 600px 600px;
		background-position: center center;
		opacity: 1;
		height: 100vh;
		width: 100%;
	}
	100% {
		/* style */
		background-size: 60px 60px;
		background-position: 20px 10px;
		height: 100vh;
		width: 100%;
	}
}
@-o-keyframes logo {
	0% {
		/* style */
		background-size: 600px 600px;
		background-position: center center;
		opacity: 0;
		height: 100vh;
		width: 100%;
	}
	50% {
		background-size: 600px 600px;
		background-position: center center;
		opacity: 1;
		height: 100vh;
		width: 100%;
	}
	100% {
		/* style */
		background-size: 60px 60px;
		background-position: 20px 10px;
		height: 100vh;
		width: 100%;
	}
}
@keyframes logo {
	0% {
		/* style */
		background-color: white;
		background-size: 330px 330px;
		background-position: center center;
		opacity: 0;
		height: 100vh;
		width: 100%;
	}
	50% {
		background-color: white;

		background-size: 330px 330px;
		background-position: center center;
		opacity: 1;
		height: 100vh;
		width: 100%;
	}
	100% {
		/* style */
		background-color: white;

		background-size: 60px 60px;
		background-position: 20px 10px;
		height: 100vh;
		width: 100%;
	}
}