// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Media Queries

$tablet-width: 700px;
$desktop-width: 1240px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
 // Extends
 .center-column {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;
 }
 .button {
     border-radius: 7px;
     color: $color__mainw;
     font-size: 20px;
     padding: 5px 30px;
 }

 // custom typography

 .main-header {
  color: $color__mainw;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 72px;
  font-weight: bold;
  line-height: 80px;
  text-transform: uppercase;
 }

 .content-header-dark {
  color: $color__dgrey;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 56px;
  font-weight: 500;
  line-height: 60px;
 }

 .content-header-light {
  color: $color__mainw;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 56px;
  font-weight: 500;
  line-height: 60px;
 }

 .colored-header{
  color: $color__oj;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
 }

 .colored-header-dark {
  color: $color__dg;
  font-family: "Avenir", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
 }

 .title {
  color: $color__mainw;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 48px;
  line-height: 60px;
 }

 .subtitle {
  color: $color__mainw;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
 }

 .colored-title {
  color: $color__dg;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
 }

 .title-review {
  color: $color__dgrey;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 40px;
 }

 .button-font {
  color: $color__mainw;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  text-transform: uppercase;
 }

 .alt-button-font {
  color: $color__trustb;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 40px;
 }

 .main-font {
  color: $color__dgrey;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
 }

 .info-font {
  color: $color__dgrey;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
 }

 .review {
  color: $color__dgrey;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-style: italic;
  line-height: 40px;
 }

 .menu-clear {
  color: $color__mainw;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  text-transform: uppercase;
 }

 .menu-solid {
  color: $color__mainb;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  text-transform: uppercase;
 }

 .form-font {
  color: $color__dgrey;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 40px;
 }