// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Media Queries

$tablet-width: 700px;
$desktop-width: 1240px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
 // Extends
 .center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
 border-radius: 7px;
 color: $color__mainw;
 font-size: 20px;
 padding: 5px 30px;
}

 // custom typography

.main-header,
.content-header-dark,
.content-header-light,
.colored-header,
.title,
.subtitle,
.colored-title,
.title-review,
.alt-button-font,
.main-font,
.review,
.button-font,
.info-font,
.menu-clear,
.menu-solid,
.form-font {
  font-family: "Helvetica Neue", sans-serif;
}

.main-header,
.content-header-light,
.title,
.subtitle,
.button-font,
.menu-clear {
  color: $color__mainw;
}

.content-header-dark,
.title-review,
.main-font,
.info-font,
.review,
.form-font {
  color: $color__dgrey;
}

.colored-header,
.colored-header-dark,
.subtitle,
.title-review,
.button-font,
.alt-button-font {
  font-weight: normal;
}

.main-header,
.colored-title,
.info-font,
.menu-clear,
.menu-solid {
  font-weight: bold;
}

.content-header-dark,
.content-header-light,
.colored-header,
.colored-header-dark,
.subtitle,
.title,
.menu-clear,
.menu-solid {
  line-height: 60px;
}

.colored-title,
.title-review,
.alt-button-font,
.main-font,
.review,
.form-font {
  line-height: 40px;
}

.colored-title,
.title-review,
.alt-button-font,
.main-font,
.review,
.button-font,
.info-font {
  font-size: 24px;
}

.colored-header,
.colored-header-dark,
.subtitle {
  font-size: 20px;
  @include tablet {
    font-size: 36px;
  }
}

.main-header,
.button-font,
.menu-clear,
.menu-solid {
  text-transform: uppercase;
}

.content-header-dark,
.content-header-light {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  @include tablet {
    font-size: 46px;
    font-weight: 500;
    margin: 3rem;
  }
  @include desktop {
    font-size: 56px;
  }
}

.content-header-dark,
.colored-header {
  text-align: center;
}

.content-header-dark {
  color: $color__text-main;
}

.colored-header{
  color: $color__oj;
  margin: 0;
}

.main-header {
  font-size: 32px;
  margin: 0;
  line-height: 80px;
  text-align: center;
  @include tablet {
    font-size: 52px;
    margin: 2rem 0;
  }
  @include desktop {
    font-size: 82px;
    margin: 3.5rem 0;
  }
}

.colored-header-dark {
  color: $color__dg;
  font-family: "Avenir", sans-serif;
}

.title {
  font-size: 48px;
}

.colored-title {
  color: $color__dg;
}

.button-font {
  line-height: 24px;
}

.alt-button-font {
  color: $color__trustb;
}

.main-font {
  font-weight: 300;
}

.info-font {
  line-height: 20px;
}

.review {
  font-style: italic;
}

.menu-clear,
.menu-solid {
  font-size: 20px;
}

.menu-solid {
  color: $color__mainb;
}

.form-font {
  font-size: 14px;
}

.color-btn {
  background: $color__dg;
  border: 1px solid $color__dg;
  border-radius: 9px;
  color: #fff;
  font-size: 24px;
  font-weight: 100;
  padding: 20px 60px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background: #fff;
    color: $color__dg;
  }
}

