// Structure

$base__space-unit: 1.5em;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

/* custom colors */

$color__lin-b: rgba(51, 75, 127, 0.55);
$color__lin-g: rgba(23, 106, 71, 0.55);

$color__trustb: rgba(51, 75, 127, 1);
$color__trustbmed: rgba(51, 75, 127, 0.85);

$color__dg: rgba(23, 106, 71, 1);
$color__oj: rgba(238, 108, 77, 1);

$color__insta-br: rgba(103, 52, 7, 1);
$color__twitb: rgba(85, 172, 238, 1);

$color__dgrey: rgba(74, 74, 74, 1);
$color__lgrey: rgba(216, 216, 216, 1);
$color__mainw: rgba(255, 255, 255, 1);
$color__mainb: rgba(0, 0, 0, 1);

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

/* custom typography */

.header1 {
	color: $color__mainw;
	font-family: "helvetica Neue", sans-serif;
	font-size: 72px;
	font-weight: bold;
	line-height: 80px;
	text-transform: uppercase;
}

.header2-a {
	color: $color__dgrey;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 56px;
	font-weight: 500;
	line-height: 60px;
}

.header2-b {
	color: $color__mainw;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 56px;
	font-weight: 500;
	line-height: 60px;
}

.header3{
	color: $color__oj;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 36px;
	font-weight: normal;
	line-height: 60px;
}

.header3-b {
	color: $color__dg;
	font-family: "Avenir", sans-serif;
	font-size: 36px;
	font-weight: normal;
	line-height: 40px;
}

.header4 {
	color: $color__mainw;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 48px;
	line-height: 60px;
}

.header4-sub {
	color: $color__mainw;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 36px;
	font-weight: normal;
	line-height: 60px;
}

.header5-b {
	color: $color__dg;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
}

.header5-rev {
	color: $color__dgrey;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 40px;
}

.button-a {
	color: $color__mainw;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	text-transform: uppercase;
}

.button-b {
	color: $color__trustb;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 40px;
}

.body-a {
	color: $color__dgrey;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 24px;
	font-weight: 300;
	line-height: 40px;
}

.body-b {
	color: $color__dgrey;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 20px;
}

.body-b-rev {
	color: $color__dgrey;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 24px;
	font-style: italic;
	line-height: 40px;
}

.menu-clear {
	color: $color__mainw;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 60px;
	text-transform: uppercase;
}

.menu-solid {
	color: $color__mainb;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 60px;
	text-transform: uppercase;
}

.form-font {
	color: $color__dgrey;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 14px;
	line-height: 40px;
}