.nav-background {
    height: 70px;
    background: $color__dgrey;
}

.error-404 {
	background-color: whitesmoke;
	padding: 80px;
	.404-banner {
		background-color: black;
		height: 300px;
	}
	// width: 1240px;
	.search-btn {
		display: none;
	}
	.search-field {
		display: inline-block;
		text-transform: none;
	}
	ul {
		flex-direction: column;
	}

	h2 {
		font-size: 1.8rem;
		text-align: left;
	}
}