h1.entry-title.banner-text {
	font-size: 46px;
	font-weight: 500;
	line-height: 40px;
	@include tablet {
		font-size: 72px;
		font-weight: 700;
		line-height: 80px;
	}
}

.contact-us-container {
	.entry-header {
		background: linear-gradient(180deg,$color__lin-b 0,$color__lin-b),$color__lin-b url("../../assets/images/truth_banner_blur.jpg") no-repeat bottom;
		background-size: cover;
		align-items: center;
		display: flex;
		height: 130px;
		justify-content: center;
		padding: 0 70px;
		width: 100%;
		transform: translateY(54%);
		@include tablet {
			background-size: 116% 107%;
			height: 400px;
			transform: translateY(0);
			background-attachment: fixed;
		}
		@include desktop {
			height: 500px;
			background-size: 104% 113%;
		}
	}
	h2 {
		text-align: center;
		font-size: 24px;
		@extend .form-font;
		font-weight: 200;
		@include tablet {
			font-size: 56px;
			font-weight: normal;
		}
	}
	h2 + p,
	.address {
		display: none;
		@extend .body-a;
		@include desktop {
			display: block;
		}
	}
	.entry-content>p {
		max-width: 1020px;
		margin: 0 auto 30px;
	}
}

.contact-form-7-container {
	display: flex;
	justify-content: space-around;
	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		@extend .form-font;
	}
	input:-moz-placeholder,
	textarea:-moz-placeholder { /* Firefox 18- */
		@extend .form-font;
	}

	input::-moz-placeholder,
	textarea::-moz-placeholder {  /* Firefox 19+ */
		@extend .form-font;
	}

	input:-ms-input-placeholder,
	textarea:-ms-input-placeholder {
		@extend .form-font;
	}
}

.name,
.email,
.comments {
	width: 86vw;
	@include tablet {
		width: 540px;
	}
}

span.first {	/* Form Check-box */
    margin-left: 0em;
}

.wpcf7-form {
	p:nth-child(6) {
	display: flex;
	justify-content: center;
	align-items: center;
	@include tablet {
		justify-content: flex-start;
	}
}
.ajax-loader {
	height: 20px;
	width: 20px;
}
}
input.send-btn {
	background: url("../../assets/buttons/cta-inspire.png");
	width: 207px;
	text-indent: 200px;
	box-shadow: none;
	border: none;
	height: 40px;
}

input.send-btn:hover {
	background: url("../../assets/buttons/cta-inspire-inverse.png");
	background-size: cover;
	box-shadow: none;
}

.address {
	padding: 150px 138px 0 0;
}