.contact-us-container {
	.entry-header {
		background: linear-gradient(180deg,$color__lin-b 0,$color__lin-b),$color__lin-b url("../../assets/images/bg-watch-picture.png") no-repeat;
		background-position: bottom;
		background-size: cover;
		align-items: center;
		display: flex;
		height: 400px;
		justify-content: center;
		width: 100%;
	}
	h2 {
		text-align: center;
	}
	p,
	.address {
		@extend .body-a;
	}
	.entry-content>p {
		width: 1020px;
		margin: 0 auto 30px;
	}
}

.contact-form-7-container {
	display: flex;
	justify-content: space-around;
	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		@extend .form-font;
	}

	input:-moz-placeholder,
	textarea:-moz-placeholder { /* Firefox 18- */
		@extend .form-font;  
	}

	input::-moz-placeholder,
	textarea::-moz-placeholder {  /* Firefox 19+ */
		@extend .form-font;  
	}

	input:-ms-input-placeholder,
	textarea:-ms-input-placeholder {  
		@extend .form-font;  
	}
}

.name,
.email,
.comments {
	width: 540px;
}

span.wpcf7-list-item {	/* Form Check-box */
    margin-left: 0em;
}

input.send-btn {
	background: url("../../assets/buttons/cta-inspire.png");
	width: 207px;
	text-indent: 200px;
	box-shadow: none;
	border: none;
	height: 40px;
}

.address {
	padding: 150px 138px 0 0;
}