
.video-hero {
	background:
	linear-gradient( $color__lin-b, $color__lin-b ),
	url(../../assets/images/bg-watch-picture.png);
	display: flex;
	background-size: cover;
	background-position: bottom;
	height: 400px;
	width: 100%;
	padding-top: 0;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	color: white;
}
.fom-button {
	border: 3px solid $color__mainw;
	padding: 7px 20px 3px 20px;
}
.fom-button:hover {
		color: $color__mainw;
	}
.fom-button:visited {
	color: $color__mainw;
}

.video-container {
	position: relative;
}

.video-banner-imgs {
	position: relative;
	background: linear-gradient( $color__lin-b, $color__lin-b );
	img {
		max-width: 150%;
		display: block;
		z-index: -1;
		position: relative;
		height: 225px;
		@include tablet {
			height: 250px;
			max-width: 100%
		}
		@include desktop {
			height: 300px;
			width: 100%;
		}
	}
}
.video-title-button {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:100%;
	text-align: center;
	@extend .center-column;
	@include tablet {
		transform:translate(-50%, -50%);
	}
	.entry-title {
		margin: 0;
		@include tablet {
			margin: 2rem;
		}
	}
}

// Single Event Clips and Short Videos

.single-video-content {
	padding: 20px;
	a {
		color: $color__oj;
	}
	a:hover {
		text-decoration: underline;
	}
	p:first-child, p:nth-child(4), p:nth-child(5) {
			display: flex;
			justify-content: center;
	}
}

.single .entry-content {
	margin: 0 auto;
	text-align: center;
}
