
.video-hero {
			background:
			linear-gradient(
			$color__lin-b,
			$color__lin-b
			),
			url(../../assets/images/bg-watch-picture.png);
		display: flex;
		background-size: cover;
		background-position: bottom;
		height: 400px;
		width: 100%;
		padding-top: 0;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		color: white;
		h1 {
			font-size: 3.2rem;
			@include tablet {
				font-size: 4.2rem;
			}
		}
}
.fom-button {
	border: 3px solid $color__mainw;
	padding: 7px 20px 3px 20px;
}
.fom-button:hover {
		color: $color__mainw;
	}
.fom-button:visited {
	color: $color__mainw;
}

.video-container {
	position: relative;
	.video-banner-imgs {
		position: relative;
		background: linear-gradient(
		$color__lin-b,
		$color__lin-b
		);
		img {
			width: 100%;
			display: block;
			z-index: -1;
			position: relative;
			height: 200px;
			@include tablet {
				height: 250px;
			}
			@include desktop {
				height: 300px;
			}
		}
	}
	.video-title-button {
		position: absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		width:100%;
		text-align: center;
		@extend .center-column;
		@include tablet {
			width: 50%;
		}
		a {
			color: $color__mainw;
		}
		.header1 {
			font-size: 1.8rem;
			@include tablet {
				font-size: 2.5rem;
			}
			@include desktop {
				font-size: 3.3rem;
			}
		}
	}
		h2 {
		font-size: 2rem;
		@include tablet {
			font-size: 2.8rem;
		}
		@include desktop {
			font-size: 3.5rem;
		}
	}
}

// Single Event Clips and Short Videos
.single {
	.single-video-content {
		padding: 20px;
		@include tablet {
			margin: 0 auto;
			width: 80%;
		}
		@include desktop {
			width: 60%;
		}
		p:first-child, p:nth-child(4), p:nth-child(5) {
				display: flex;
				justify-content: center;
		}
	}
}
