.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 400px;
  @include desktop {
    width: 1240px;
  }
}

// Get Involved

.get-involved {
  div {
    @extend .center-column;
  }
  h1 {
    font-size: 30px;
    @include tablet {
      font-size: 45px;
    }
    @include desktop {
      font-size: 60px;
    }
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;
    padding-left: 0;
    margin-left: 0;
    @include tablet {
      width: 800px;
      justify-content: center;
    }
    @include desktop {
      width: 1100px;
      flex-wrap: nowrap;
    }
    li {
      text-align: center;
      flex: 1 0 50%;
      @include tablet {
        height: 200px;
        width: 300px;
        flex: none;
      }
      @include desktop {
        height: 200px;
        width: 300px;
        flex: none;
      }
      &:last-child {
        @include desktop {
          width: 200px;
        }
      }
      img {
        height: 60px;
        @include tablet {
          height: 80px;
        }
        @include desktop {
          height: 90px;
        }
      }
      .collaborate {
        height: 40px;
        margin-bottom: 20px;
        @include tablet {
          height: 50px;
        }
        @include desktop {
          height: 60px;
          margin-bottom: 30px;
        }
      }
      h3 {
        font-size: 15px;
        color: $color__dg;
        @include tablet {
          font-size: 25px;
        }
        @include desktop {
          font-size: 35px;
        }
      }
    }
  }
}

// What We're Doing

.what-we-doing {
  @extend .center-column;
  position: relative;
  h1 {
    font-size: 60px;
    color: #fff;
  }
  .what-we-doing-img {
    @extend .center-column;
    width: 95%;
    height: 300px;
    background: linear-gradient(180deg, $color__trustbmed, $color__trustbmed),
      url(../../assets/images/BG-WhatWereUpTo.png) center center;
    background-size: cover;
    padding-bottom: 30px;
    @include desktop {
      width: 95%;
      height: 300px;
      padding-bottom: 30px;
    }
  }
}
.blue-circle {
  background: $color__trustb;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  left: 666px;
  top: 265px;
}
.find-out-btn {
  a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: $color__oj;
    padding: 10px;
    font-size: 20px;
    border-radius: 7px;
    &:hover {
      color: $color__oj;
      background: #fff;
    }
  }
}

// Latest Event Clips

.latest-event {
  display: flex;
  justify-content: center;
  h1 {
    font-size: 60px;
    color: #fff;
  }
  .latest-event-img {
    @extend .center-column;
    width: 95%;
    height: 450px;
    background: linear-gradient(180deg, $color__trustbmed, $color__trustbmed),
      url(../../assets/images/BG-WhatWereDoing.png) center center;
    background-size: cover;
  }
}

// Want to Create Social Change
.create-change {
  display: flex;
  justify-content: center;
  h1 {
    font-size: 60px;
    color: #fff;
  }
  .create-change-img {
    @extend .center-column;
    width: 95%;
    height: 300px;
    background: linear-gradient(180deg, $color__trustbmed, $color__trustbmed),
      url(../../assets/images/BG-SocialChange.png) center center;
    background-size: cover;
      @include desktop {
        width: 95%;
        height: 300px;
      }
  }
}
.inspire-btn {
  a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: $color__dg;
    padding: 10px;
    font-size: 20px;
    border-radius: 7px;
    &:hover {
      color: $color__dg;
      background: #fff;
    }
  }
}
