.site-header {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #000;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	position: fixed;
	width: 100%;
	z-index: 999;
	a {
		color: #000;
		text-transform: uppercase;
		&:hover {
			color: $color__oj;
		}
	}
}

.site-header h1{
	background: url("../../assets/logos/genwhy-logo-black.png") no-repeat;
	background-size: 60px 60px;
	height: 60px;
	margin: 10px 20px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 70px;
}
