.projects-page {
	.page-header {
		background: linear-gradient($color__lin-b, $color__lin-b), url('../../assets/images/bg-projects.png') center/cover;
		height: 46vh;
		@include desktop {
			height: 460px;
		}
		display: flex;
		justify-content: center;
		align-items: center;
		@extend .header1;
		font-size: 1rem;
	}
	.entry-header {
		width: 22%;
	}
	.entry-content {
		margin: 0;
		padding: 0 40px;
		width: 78%;
		p {
			@extend .body-a;
		}
	}
	h2 {
		font-size: 2rem;
		margin-bottom: 0;
	}
	fieldset {
		border: 0;
	}
	button {
		background: none;
	}
}

.sub-title {
	text-align: center;
}

.past-works-container,
.projects_cpt {
	display: flex;
	flex-wrap: wrap;
}

.projects_cpt {
	width: 50%;
}

.past-works-container {
	margin: 60px auto;
	width: 77%;
}