.projects-page {
	.page-header {
		background: linear-gradient($color__lin-b, $color__lin-b), url('../../assets/images/bg-projects.png') center/cover;
		height: 460px;
		display: flex;
		justify-content: center;
		align-items: center;
		@extend .header1;
	}
	.entry-header {
		width: 20%;
	}
	.entry-content {
		width: 80%;
	}
}

.sub-title {
	text-align: center;
}

.past-works-container,
.projects_cpt {
	display: flex;
	flex-wrap: wrap;
}

.past-works-container {
	margin: 60px auto;
	width: 77%;
}