.projects-page {
	.page-header {
		background: linear-gradient($color__lin-b, $color__lin-b), url('../../assets/images/bg-projects.png') center/cover;
		height: 460px;
		display: flex;
		justify-content: center;
		align-items: center;
		@extend .header1;
	}
}

.sub-title {
	text-align: center;
}

.past-works-container,
.projects_cpt {
	display: flex;
}

.past-works-container {
	width: 77%;
	margin: 60px auto;
}