.page-template-services {
  .main-header, .content-title-dark, .header2-b {
    font-size: 2.5rem;
    @include tablet {
      font-size: 4rem;
    }
    @include desktop {
      font-size: 4.5rem;
    }
}

// Service Hero Banner

.services-hero-banner {
  position: relative;
	padding:15px;
  height: 200px;
  @include tablet {
    height: 450px;
  }
  @include desktop {
    height: 550px;
  }
  .services-hero {
      align-items: center;
      background:
       linear-gradient(
       rgba(0, 0, 0, 0.25),
       rgba(0, 0, 0, 0.25)
       ),
       url(../../assets/images/harmony_banner.jpg) no-repeat center top;
      background-size: cover;
      bottom:0;
      color: white;
      display: flex;
      filter: blur(5px);
      height: 250px;
      justify-content: center;
      left:0;
      margin-bottom: 1px;
      margin: 0 auto;
      padding-top: 0;
      position:absolute;
      right:0;
      top:0;
      width: 100%;
      z-index: -1;
       @include tablet {
         height: 500px;
         background-attachment: fixed;
       }
       @include desktop {
         height: 600px;
       }
  }
  .services-hero-title {
  	color:#fff;
  	z-index:2;
    left:50%;
    position:relative;
    text-align: center;
    top:50%;
    transform:translate(-50%, -50%);
    width:50%;
    }
  }
}

// Sub Banner

.services-sub-banner {
  display: none;
  @include tablet {
      display: flex;
      background: $color__oj;
      height: 250px;
      width: 100%;
      justify-content: center;
      position: relative;
  }
  .services-info {
      @extend .header4-sub;
      width: 800px;
      text-align: center;
      font-weight: 400;
      @include tablet {
        font-size: 1.5rem;
      }
      @include desktop {
        font-size: 1.8rem;
      }
  }
  .services-circle {
    @include tablet {
      border-radius: 50%;
      height: 70px;
      left: 48%;
      position: absolute;
      top: 215px;
      width: 70px;
      background: $color__oj;
    }
  }
}

// What We Offer

.what-we-offer {
  background: $color__mainw;
  width: 100%;
  div {
    @extend .center-column;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width: 400px;
    @include tablet {
      width: 800px;
      justify-content: center;
    }
    @include desktop {
      flex-wrap: nowrap;
      width: 1100px;
    }
    li {
      flex: 1 0 50%;
      text-align: center;
      @include tablet {
        flex: 1 0 33.33%;
        height: 200px;
        width: 300px;
      }
      @include desktop {
        flex: none;
        height: 200px;
        width: 200px;
      }
      &:last-child {
        @include desktop {
          width: 200px;
        }
      }
      img {
        height: 60px;
        @include tablet {
          height: 80px;
        }
        @include desktop {
          height: 70px;
        }
      }
      .engagement {
        height: 40px;
        margin-bottom: 20px;
        @include tablet {
          height: 50px;
          margin-bottom: 30px;
        }
        @include desktop {
          height: 60px;
          margin-bottom: 10px;
        }
      }
      h3 {
        font-size: 1rem;
        @include tablet {
          font-size: 1.7rem;
        }
        @include desktop {
          font-size: 2rem;
        }
      }
    }
  }
}


// Our Story

.our-story-container {
  .founder-banner {
    background: linear-gradient(rgba(255,255,255, 0.1), rgba(255,255,255,0.1)), url(../../assets/images/our-story-banner.jpg) no-repeat center center;
    background-size: 160% 160%;
    height: 200px;
    width: 100%;
    position: relative;
    @extend .center-column;
    @include tablet {
      background-size: 220% 105%;
      height: 300px;
      background-attachment: fixed;
      @include desktop {
        height: 450px;
         background-size: 164% 120%;
      }
    }
    .about-us {
        color: $color__mainw;
        @include tablet {
          display: none;
        }
    }
  }
  .our-story-title {
      display: none;
      @include tablet {
        display: block;
      }
  }
  .our-story-info {
    @extend .center-column;
    margin: 30px 0;
    @include tablet {
      margin-bottom: 50px;
    }
  }
  p {
    width: 350px;
    text-align: center;
    @include tablet {
      width: 600px;
      text-align: left;
    }
    @include desktop {
      width: 800px;
    }
  }
  .our-story-circle {
    @include tablet {
      border-radius: 50%;
      height: 70px;
      left: 48%;
      position: absolute;
      bottom: -34px;
      width: 70px;
      background: $color__mainw;
    }
  }
}

// Our Team
.our-team-container {
  @extend .center-column;
  iframe {
    display: none;
    @include tablet {
      display: block;
    }
  }
  .our-team-info {
    display: none;
    @include tablet {
      display: block;
      margin-bottom: 50px;
    }
    .header3 {
      text-align: left;
    }
    p {
      width: 350px;
      text-align: center;
      @include tablet {
        width: 600px;
        text-align: left;
      }
      @include desktop {
        width: 800px;
      }
    }
  }
}

// Previous Partners

.prev-part-display {
  display: none;
  @include tablet {
    display: block;
  }
}
