.watchheroshort{
                  background:
                 linear-gradient(
                 rgba(51, 75, 127, 0.55),
                 rgba(51, 75, 127, 0.55)
                 ),
                 url('../../bg-short-video');
               display: flex;
               background-size: cover;
               background-position: bottom;
               height: 45vh;
               width: 100%;
               padding-top: 0;
               margin: 0 auto;
               justify-content: center;
               align-items: center;
               color: white;
}