.nav-background {
	height: 70px;
	background: $color__dgrey;
}

.single {
	.projects_cpt {
		display: flex;
		justify-content: center;
		max-width: 80%;
		margin: 120px auto;
	}
	.entry-content {
		width: 100%;
		padding: 0;
		margin: 0;
		@include tablet {
			width: 50%;
			padding-left: 80px;
		}
	}
	.post-navigation {
		a {
			padding: 10px 30px;
			background: $color__mainb;
			color: $color__mainw;
		}
		a:hover {
		background: $color__oj;
		}
	}
}
